@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    font-family: "Outfit";
}

html,
body {
    height: 100vh;
}

#root {
    height: 100%;
    display: flex;
    flex-direction: column;
    
    
}

//HEADER

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    @media (min-width: 768px) {
      margin-left: 36px;
    margin-right: 36px;
    }
    &__name {
        font-size: 24px;
        font-weight: 200;
      cursor: pointer;
      position: relative;
      padding-left: 60px; 
      @media (min-width: 768px) {
        font-size: 36px;
      }
      &::before {
        content: '';
        cursor: pointer;
        display: inline-block;
        background-image: url("../public/gamer.png");
        background-size: contain;
        background-repeat: no-repeat;
        width: 50px;
        height: 50px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    &__menu {
        display: flex;
        
        width: 180px;
        justify-content: space-between;
        &--item {
            color: black;
           cursor: pointer;
           font-size: 18px;
           text-decoration: none;
           @media (min-width: 768px) {
            font-size: 24px;
          }
        }
    }
  }
  
  //HEROMESSAGE

  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    margin: 0;
    text-align: center;
    @media (min-width: 768px) {
      font-size: 24px;
    }
    @media (min-width: 1200px) {
      font-size: 36px;
    }
    &__text {
      margin: 16px 0;
    }
  }
  //Main container

  .mainContainer {
    display: flex;
    flex: 0 0 calc(50% - 12px);
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }


  //Cards && card Container
  
  .cardContainer {
    background-color: #91b1db;//94a7c0
    border: 1px solid black;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    height: 700px;
    margin: 12px;
    padding: 4px 8px;
    width: 320px;

    &__title {
      font-size: 24px;
      font-weight: 600;
      margin: 16px, 0, 8px, 0;
      &--order {
        font-weight: 800;
        font-size: 36px;
        margin-right: 14px;
      }
    }

    &__subtitle {
      font-size: 18px;
      font-weight: 500;
      margin: 0;
    }

    &__content {
      min-height: 180px;
    }
    
    &__line {
      border: none;               
    border-top: 2px solid black;   
    margin: 20px 0;
    }
    &__techContainer {
      min-height: 100px;
    }
    &__tech {
      font-weight: 600;
      margin: 0;
    }

    &__buttons {
      display: flex;
      justify-content: space-around;
      &--items {
        text-align: center;
        text-decoration: none;
        color: black;
        border: 2px solid black;
        background-color: white;
        padding: 8px;
        width: 110px;
      }
      &--items:hover {
        color: white;
        border: 2px solid black;
        background-color: darkblue;
      }
    }
  }